<div class="table-container">
  <!--mat-card fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-icon-button fxFlex="6" fxLayout="column">
      <mat-icon color="primary" aria-hidden="false" aria-label="Filter" class="filter-icon">filter_list</mat-icon>
    </button>

    <div  fxFlex="30" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>


    <div fxFlex></div>

    <button mat-raised-button color="primary" fxflexalign="right" fxFlex="18" fxLayout="column">
      <mat-icon>add_circle_outline</mat-icon>
      Add Customer
    </button>
  </mat-card-->


  <table>
    <thead>
    <tr class="bg-primary">
      <th width="5%"> <input type="checkbox" class="checkbox"></th>
      <th width="7%">NAME</th>
      <th width="7%">DESCRIPTION</th>
      <th width="5%">RATE</th>
      <th width="5%">BALANCE</th>
      <th width="5%">DEPOSIT</th>
      <th width="7%">STATUS</th>
      <th width="7%"><mat-icon >more_horiz</mat-icon></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customers;">
      <td><input type="checkbox" class="checkbox"></td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.rate}}</td>
      <td>{{item.balance}}</td>
      <td>{{item.deposit}}</td>
      <td>{{item.status}}</td>
      <td class="centered-cell">
          <mat-icon>edit</mat-icon>
          <mat-icon >delete</mat-icon>
          <mat-icon >more_horiz</mat-icon>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" align="center">footer</td>
      </tr>
    </tfoot>
  </table>
    <!--table [dataSource]="dataSource" mat-table matSort matSortActive="name"
           matSortDirection="asc" matSortDisableClear class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef width ="8%">
          <mat-checkbox>
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="13%">NAME</th>
        <td mat-cell *matCellDef="let row" data-column-name><strong>{{row.name}}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef  width ="13%">DESCRIPTION</th>
        <td mat-cell *matCellDef="let row" data-column-name>{{row.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="rate" width ="5%" >
        <th mat-header-cell *matHeaderCellDef  class="right-cell">RATE</th>
        <td mat-cell *matCellDef="let row" data-column-name class="right-cell">{{row.rate}}
        </td>
      </ng-container>

      <ng-container matColumnDef="balance" width ="5%">
        <th mat-header-cell *matHeaderCellDef class="right-cell">BALANCE</th>
        <td mat-cell *matCellDef="let row" data-column-name [ngStyle]="{'color': row.balance > 10 ? 'red' : 'green'}" class="right-cell">{{row.balance}}
        </td>
      </ng-container>

      <ng-container matColumnDef="deposit" width ="5%">
        <th mat-header-cell *matHeaderCellDef class="right-cell">DEPOSIT</th>
        <td mat-cell *matCellDef="let row" data-column-name class="right-cell">{{row.deposit}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status" width ="5%" >
        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="centered-cell">STATUS</th>
        <td mat-cell *matCellDef="let row" data-column-name class="centered-cell">{{row.status}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" width ="15%">
        <th mat-header-cell *matHeaderCellDef class="centered-cell"><mat-icon>more_horiz</mat-icon></th>
        <td mat-cell *matCellDef data-column-name class="centered-cell">
          <button mat-icon-button>
            <mat-icon >edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon >delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon >more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table-->

  <!--mat-paginator [pageSizeOptions]="[10, 20]" >aaa</mat-paginator-->

</div>

