<div class="table-container">

  <table>
    <thead>
    <tr>
      <td>
        <mat-icon color="primary" aria-hidden="false" aria-label="Filter" class="filter-icon">filter_list</mat-icon>
      </td>
      <td colspan="14" align="left">
        <div class="box">
          <div class="container">
            <span class="icon"><mat-icon>search</mat-icon></span>
            <input type="search" (keyup)="onKey($event)" placeholder="Search" />
          </div>
        </div>
      </td>
      <td colspan="3" align="left">
        <button mat-raised-button color="primary"><mat-icon>add_circle_outline</mat-icon>Add Customer</button>
      </td>
    </tr>
    </thead>
  </table>

  <table>
    <thead>
    <tr>
      <th width="3%"><mat-checkbox (change)="isSelected = !isSelected"> </mat-checkbox></th>
      <th align="left" width="8%" ><a (click)="sort('name')"> NAME  <fa-icon [icon]="faSort"></fa-icon> </a></th>
      <th align="left" width="8%">DESCRIPTION</th>
      <th align="right" width="6%">RATE</th>
      <th align="right" width="6%">BALANCE</th>
      <th align="right" width="6%">DEPOSIT</th>
      <th width="7%"><a (click)="sort('status')"> STATUS  <fa-icon [icon]="faSort" ></fa-icon> </a></th>
      <th width="7%"><fa-icon [icon]="ellipsis" class="size-ellipsis"></fa-icon></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of splicedData | tableFilter: name">
      <td align="center" style="width:55px!important;"><mat-checkbox [checked]="isSelected"></mat-checkbox></td>
      <td><span class="black-text">{{item.name}}</span> <br> <span class="light-text">5684236583</span></td>
      <td><span  class="two-line">{{item.description}}</span></td>
      <td align="right">{{item.rate | number : '2.2-2'}}<br> <span class="light-text">INR</span></td>
      <td align="right">
        <span [ngStyle]="{'color': item.balance < 0 ? 'red' : (item.balance > 0 ? 'green' : null)}">{{item.balance | number : '2.2-2'}}</span>
        <br> <span class="light-text">INR</span></td>
      <td align="right">{{item.deposit | number : '2.2-2'}}<br> <span class="light-text">INR</span></td>
      <td align="center"><span [ngClass]="(item.status == 'ACTIVE') ? 'active-chip' : 'inactive-chip'">{{item.status}}</span></td>
      <td align="center">
        <fa-icon [icon]="pen"></fa-icon>
        <fa-icon [icon]="trashAlt" ></fa-icon>
        <fa-icon [icon]="ellipsis" ></fa-icon>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" align="left" class="light-text">ACTIVE CUSTOMERS <strong>{{activeCustomerNumber}}</strong>/{{customerNumber}} </td>
        <td colspan="2"></td>
        <td colspan="4">
          <mat-paginator (page)="pageChangeEvent($event)" [pageSizeOptions]="[10, 20, 30]" [pageSize]="pageSize" [length]="customerNumber"></mat-paginator>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

